<div class="contenedorTabla"> 
    <h1>Tabas en HTML</h1>

        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Vista Tabular">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
                    <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
                      <!-- Periodo Column -->
                    <ng-container matColumnDef="Periodo">
                    <th mat-header-cell *matHeaderCellDef> Periodo </th>
                    <td mat-cell *matCellDef="let element"> {{element.Periodo}} </td>
                    </ng-container>
              
                    <!-- Paquete Column -->
                    <ng-container matColumnDef="Paquete">
                        <th mat-header-cell *matHeaderCellDef> Paquete </th>
                    <td mat-cell *matCellDef="let element"> {{element.Paquete}} </td>
                    </ng-container>
              
                    <!-- Usuario Column -->
                    <ng-container matColumnDef="Usuario">
                      <th mat-header-cell *matHeaderCellDef> Usuario </th>
                      <td mat-cell *matCellDef="let element"> {{element.Usuario}} </td>
                    </ng-container>
              
                    <!-- Sistema Column -->
                    <ng-container matColumnDef="Sistema">
                      <th mat-header-cell *matHeaderCellDef> Sistema </th>
                      <td mat-cell *matCellDef="let element"> {{element.Sistema}} </td>
                    </ng-container>
        
                    <!-- Empresa Column -->
                    <ng-container matColumnDef="Empresa">
                        <th mat-header-cell *matHeaderCellDef> Empresa </th>
                        <td mat-cell *matCellDef="let element"> {{element.Empresa}} </td>
                    </ng-container>
        
                    <!-- Metodo Column -->
                    <ng-container matColumnDef="Metodo">
                        <th mat-header-cell *matHeaderCellDef> Metodo </th>
                        <td mat-cell *matCellDef="let element"> {{element.Metodo}} </td>
                    </ng-container>
        
                    <!-- InBatch Column -->
                    <ng-container matColumnDef="InBatch">
                        <th mat-header-cell *matHeaderCellDef> InBatch </th>
                        <td mat-cell *matCellDef="let element"> {{element.InBatch}} </td>
                    </ng-container>
        
                    <!-- WebService Column -->
                    <ng-container matColumnDef="WebService">
                        <th mat-header-cell *matHeaderCellDef> WebService </th>
                        <td mat-cell *matCellDef="let element"> {{element.WebService}} </td>
                    </ng-container>
        
                    <!-- Procesados Column -->
                    <ng-container matColumnDef="Procesados">
                        <th mat-header-cell *matHeaderCellDef> Procesados </th>
                        <td mat-cell *matCellDef="let element"> {{element.Procesados}} </td>
                    </ng-container>
              
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-tab>
            <mat-tab label="Vista Grafica">Content 2</mat-tab>
          </mat-tab-group>
</div>


