table {
    width: 90%;
    margin:auto;

  }

  th{
      background-color: crimson;
      color:#fff;
      padding:10px 20px;

  }

tbody td:nth-child(even){
    background:darkgray;
}

.contenerTabla{
    margin-top: 15%;
    padding-top: 15%;
    height: 100%;
    width: 100%;
}
