<div class="contenedorTabla"> 
    <!-- <h1>Tabas en HTML</h1> -->
        <br><br>
        <div class="wrp-actions">
            <span class="material-icons"  matTooltip="Info about the action" >menu</span>
            <span class="material-icons" matTooltip="Info about the action">download</span>
            <span class="material-icons" matTooltip="Info about the action">assessment</span>
            <span class="material-icons" matTooltip="Info about the action">table_view</span>
            <span class="material-icons" matTooltip="Info about the action">search</span>
            <span class="material-icons" matTooltip="Info about the action">edit</span>
        </div>

        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Vista Tabular">
                <br>
                <p-toast></p-toast>
                <div class="card">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="" icon="pi pi-info-circle" class="p-button-help"></button>
                        </ng-template>
                        <ng-template pTemplate="right">
                            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                        </ng-template>
                    </p-toolbar>
                    <p-table #dt [value]="products" [rows]="10" [paginator]="true" [resizableColumns]="true"
                        [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
                        responsiveLayout="scroll" [(selection)]="selectedColumns" [rowHover]="true" dataKey="id"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true" [columns]="selectedColumns" [reorderableColumns]="true"
                        styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            <div>
                                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                    selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
                                </p-multiSelect>
                                &nbsp;
                                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                                <input style = "font-size: 22px; float: right;  font-family: Inter; font-size: 1rem; font-weight: normal;"
                                pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Buscar" />
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" pResizableColumn pReorderableColumn pSortableColumn={{col.field}}>
                                    {{col.header}}
                                    <p-sortIcon field={{col.field}}></p-sortIcon>
                                    <div style="display: {{col.display_basic_filter}}">
                                        <p-columnFilter type={{col.type}} field="{{col.field}}" display="menu"></p-columnFilter>
                                    </div>
                                    <div style="display: {{col.display_selector}}">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-columnFilter field="{{col.field}}" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" class="p-ml-auto">
                                                <p-multiSelect [ngModel]="value" [options]="selectors[col.selector]" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                                                    <ng-template let-option pTemplate="item">
                                                        <div class="p-multiselect-representative-option">
                                                            <span class="p-ml-1">{{option.name}}</span>
                                                        </div>
                                                    </ng-template>
                                                </p-multiSelect>
                                            </p-columnFilter>
                                        </ng-template>
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="10">No customers found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </mat-tab>
            <mat-tab label="Vista Grafica">
                <br>
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" style="width: 100%; height: 400px;display: block;"></highcharts-chart>
                <highcharts-chart [Highcharts]="HighchartsPie" [options]="chartOptionsPie" style="width: 100%; height: 400px;display: block;"></highcharts-chart>
                <highcharts-chart [Highcharts]="Highcharts2" [options]="chartOptions2" style="width: 100%; height: 400px;display: block;"></highcharts-chart>
            </mat-tab>       
          </mat-tab-group>
</div>


