   <div class="formulario">
        <form class="form">
            <input type="text" required>
            <label class="lbl-nombre">
                <span class="text-nomb">Usuario</span>
            </label>
        </form>

        <form class="form">
            <input type="password" required>
            <label class="lbl-nombre">
                <span class="text-nomb">Contraseña</span>
            </label>
        </form>
        <br>
        <button style="margin-top: 15%; background-color: green; height: 10%; width: 50%; position: absolute; margin-left:-25%; border-radius: 10%;">INICIAR SESIÓN</button>
    </div>
