   <div class="formulario">
        <form class="form">
            <input type="text" required>
            <label class="lbl-nombre">
                <span class="text-nomb">Usuario</span>
            </label>
        </form>

        <form class="form">
            <input type="password" required>
            <label class="lbl-nombre">
                <span class="text-nomb">Contraseña</span>
            </label>
        </form>
        <br>
        <button class="boton">INICIAR SESIÓN</button>
    </div>
